*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'SF Pro';
}

a {
  text-decoration: none;
}

p, span, a {
  color: $text-primary;
}

ul, ol, li {
  list-style-type: none;
}