$background-dark: #161b30;
$background-gradient-mobile: linear-gradient(180deg, #5a607c 0%, #161b30 49.93%);
$background-gradient-desktop: radial-gradient(80.36% 80.36% at 50% 0%, #5a607c 0%, #161b30 100%);

$body-scroll: #494f68;

$list-item-dark: rgba(41, 46, 68, 0.5);
$list-item-shadow: 0px 5px 10px 0px rgba(240, 240, 240, 0.6);

$dark-blue: #2a2f45;

$text-primary: #fff;
$text-secondary: #8a91ab;

$marker-color: #494f68;

$search-result-dark: #30354b;
