$background-dark: #161B30;
$background-gradient: linear-gradient(180deg, #5A607C 0%, #161B30 49.93%);

$list-item-dark: #292E44;

$dark-blue: #2A2F45;

$text-primary: #fff;
$text-secondary: #8A91AB;

$separator-color: #494F68;