$background-dark: #161B30;
$background-gradient-mobile: linear-gradient(180deg, #5A607C 0%, #161B30 49.93%);
$background-gradient-desktop: radial-gradient(80.36% 80.36% at 50% 0%, #5A607C 0%, #161B30 100%);

$list-item-dark: rgba(41, 46, 68, .5);

$dark-blue: #2A2F45;

$text-primary: #fff;
$text-secondary: #8A91AB;

$marker-color: #494F68;