.Footer {
  height: 65px;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: auto;

  &__text {
    font-size: 14px;
    color: $text-secondary;
  }
}

@media screen and (min-width: 768px) {
  .Footer {
    display: flex;
  }
}
