.PageNotFound {
  padding: 80px 0;

  &__text {
    text-align: center;
    color: $text-primary;
  }

  & p {
    text-align: center;
    margin: 20px auto;

    & a:hover {
      color: $text-secondary;
    }
  }
}